spring:
  application:
    name: kafgen
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
#        spring.json.type.mapping: "yourEventType:com.yourpackage.YourEvent"
        enable.idempotence: true