server:
  port: 8082
spring:
  application:
    name: processing
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
logging:
  level:
    com:
      markellowww:
        processing:
          DEBUG